* {text-align: center;


  font-family: sans-serif;
  background-color: #DE5842;
}
table, tr, td, th {
  border: 2px solid #303D45;
  background-color: #74AAB6;
}
input {
  background-color: white;

}

form {
  display:
  
}
/*// .small-text {font-size: 10px;}
label.required */
